/* 全体 */
@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #2b2b2b;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #2b2b2b;
  text-decoration: none;
}

section {
  text-align: center;
}

.u-content-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

/* header始まり */
.header {
  position: relative;
  width: 100%;
  height: 620px;
  background: url("images/header.png");
  background-size: cover;
  text-align: center;
  color: #fff;
}

.header__nav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 64px;
}

.header__nav__logo {
  font-size: 36px;
  position: absolute;
  top: 59px;
  left: 160px;
}

/* 🍔 */
/* メニューを画面上部に固定表示しています */
.gMenu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
/* メニューアイコンを画面右上に固定しています */
.gMenu .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
  padding-top: 5px;
  height: 12px;
}
/* メニューアイコン（三本線）の真ん中の線です */
.gMenu .menu-icon .navicon {
  background: #ffc107; /* 色は自由に変更可能です */
  display: block;
  height: 2px; /* 太さ */
  width: 31px; /* 長さ */
  position: relative;
  transition: background .4s ease-out; /* 形が変わる時のアニメーション */
}
/* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
.gMenu .menu-icon .navicon::before,
.gMenu .menu-icon .navicon::after {
  background: #ffc107; /* 色は自由に変更可能です */
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out; /* 形が変わる時のアニメーション */
  width: 100%;
}
.gMenu .menu-icon .navicon::before {top: 10px;} /* 位置を上にずらしています */
.gMenu .menu-icon .navicon::after {top: -10px;} /* 位置を下にずらしています */
/* 表示されるメニューです */
.gMenu .menu {
  background-color: rgba(255,255,255,0.9);
  overflow: hidden;
  max-height: 0; /* ★最初は高さを0にして非表示状態に */
  transition: max-height .6s; /* 表示されるときのアニメーション */
  text-align: center;
}
/* メニュー部分のデザインです */
.gMenu .menu li:first-of-type {
  padding-top: 25px;
  padding-top: 50px;
}
.gMenu .menu li a {
  display: block;
  padding: 24px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.gMenu .menu li a:hover {
  background-color: #f4f4f4;
}
/* チェックボックスは常に非表示です */
.gMenu .menu-btn {
  display: none;
}
/* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
.gMenu .menu-btn:checked ~ .menu {
  max-height: 338px; /* ★チェックボックスがオンの時高さを338pxにして表示させます */
  transition: max-height .6s;
}
/* メニューボタンの中央の線を非表示に */
.gMenu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}

/* メニューボタンの上下の線を45度傾けて✕印を作ります */
.gMenu .menu-btn:checked ~ .menu-icon .navicon::before {transform: rotate(-45deg);top: 0;}
.gMenu .menu-btn:checked ~ .menu-icon .navicon::after {transform: rotate(45deg);top: 0;}

/* メニューアイコンを画面右上の位置変更 */
.gMenu .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 160px;
  top: 87px;
  padding-top: 5px;
  height: 12px;
}

/* メニューアイコン（三本線）色変更 */
.gMenu .menu-icon .navicon,
.gMenu .menu-icon .navicon::before,
.gMenu .menu-icon .navicon::after{
  background: #ffffff;
}
/* 🍔 */

.header__title {
  padding-top: 240px;
  font-size: 120px;
  font-weight: normal;
}

.header__title__sub {
  word-spacing: 4px;
}

.header__title__sub::before,
.header__title__sub::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background: #fff;
  vertical-align: middle;
}
/* header終わり */

/* concept始まり */
.u-heading {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 24px;
  font-size: 36px;
  letter-spacing: 2px;
}

.u-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 1px;
  background: #2b2b2b;
  transform: translateX(-50%);
}

.u-text {
  padding-bottom: 40px;
  line-height: 1.8;
  letter-spacing: 1.4px;
}

.concept {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(#fff 70%, #ededed 30%);
}

.concept__image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
/* concept終わり */

/* work始まり */
.work {
  width: 100%;
  padding: 80px 0;
}

.work-content-wrapper {
  height: 1609px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: baseline;
}

.work-content {
  max-width: 420px;
  margin-bottom: 80px;
  text-align: left;
}

.work-content h3 {
  margin-top: 16px;
}

.work-before {
  padding-top: 120px;
}
/* work終わり */

/* florist始まり */
.florist {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(#ededed 50%, #fff 50%);
}

.florist-content {
  max-width: 300px;
  margin-bottom: 40px;
  text-align: left;
}

.florist-content-wrapper {
  display: flex;
  align-content: space-between;
  justify-content: space-around;
}
/* florist終わり */

/* shop-information始まり */
.shop-information {
  width: 100%;
  padding: 80px 0;
}

.info-table {
  display: flex;
  justify-content: space-around;
}

table {
  letter-spacing: 1.5;
  line-height: 2;
  border-spacing: 16px;
}

table th {
  vertical-align: top;
  text-align: left;
  font-weight: normal;
  border-right: 3px solid #ededed;
  padding: 0 16px 0 0;
}

table td {
  text-align: left;
}
/* shop-information終わり */

/* contact始まり */
.contact {
  padding: 80px 0;
  position: relative;
  width: 100%;
  height: 620px;
  background: url("images/contact_us.png");
  background-size: cover;
  text-align: center;
  color: #333333;
}

.box {
  position     : relative;
  margin       : 40px auto;
  width        : 360px;
  height       : 80px;
  background   : #ffffff;
  border       : solid #A0A0A0 1px;
}
.box span {      /* 前面の文字エリア */
  position     : absolute;
  display      : inline-block;
  background   : rgba(255, 255, 255, 0.6);
  top          : 50%;
  left         : 50%;
  padding      : 3px;
  color        : #333;
  transform    : translate(-50%,-50%);
  font-size    : 20px;
  border-radius: 5px;
}

.far {
  padding-right: 24px;
}
/* contact終わり */

/* footer始まり */
.footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
/* footer終わり */