/* 全体 */
@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #2b2b2b;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #2b2b2b;
  text-decoration: none;
}

section {
  text-align: center;
}

.u-content-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

/* ヘッダー始まり */
.header {
  position: relative;
  width: 100%;
  height: 620px;
  background: url("images/header.png");
  background-size: cover;
  text-align: center;
  color: #fff;
}

.header__nav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 64px;
}

.header__nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav__logo {
  font-size: 36px;
}

.hamburger-menu {
  position: relative;
  width: 32px;
  height: 64px;
  cursor: pointer;
}

.hamburger-menu__line,
.hamburger-menu__line::before,
.hamburger-menu__line::after {
  position: absolute;
  left: 0;
  display: block;
  width: 32px;
  height: 1px;
  background: #fff;
}

.hamburger-menu__line::before,
.hamburger-menu__line::after {
  content: "";
}

.hamburger-menu__line {
  top: 50%;
}

.hamburger-menu__line::before {
  top: calc(50% - 8px);
}

.hamburger-menu__line::after {
  top: calc(50% + 8px);
}
/* ヘッダー終わり */
