/* 全体 */
@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #2b2b2b;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #2b2b2b;
  text-decoration: none;
}

section {
  text-align: center;
}

.u-content-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

/* header始まり */
.header {
  position: relative;
  width: 100%;
  height: 620px;
  background: url("images/header.png");
  background-size: cover;
  text-align: center;
  color: #fff;
}

.header__nav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 64px;
}

.header__nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav__logo {
  font-size: 36px;
}

.hamburger-menu {
  position: relative;
  width: 32px;
  height: 64px;
  cursor: pointer;
}

.hamburger-menu__line,
.hamburger-menu__line::before,
.hamburger-menu__line::after {
  position: absolute;
  left: 0;
  display: block;
  width: 32px;
  height: 1px;
  background: #fff;
}

.hamburger-menu__line::before,
.hamburger-menu__line::after {
  content: "";
}

.hamburger-menu__line {
  top: 50%;
}

.hamburger-menu__line::before {
  top: calc(50% - 8px);
}

.hamburger-menu__line::after {
  top: calc(50% + 8px);
}
/* header終わり */

/* concept始まり */
.u-heading {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 24px;
  font-size: 36px;
  letter-spacing: 2px;
}

.u-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 1px;
  background: #2b2b2b;
  transform: translateX(-50%);
}

.u-text {
  padding-bottom: 40px;
  line-height: 1.8;
  letter-spacing: 1.4px;
}

.concept {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(#fff 70%, #ededed 30%);
}

.concept__image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
/* concept終わり */

/* work始まり */
.work {
  width: 100%;
  padding: 80px 0;
}

.work-content-wrapper {
  height: 1609px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: baseline;
}

.work-content {
  max-width: 420px;
  margin-bottom: 80px;
  text-align: left;
}

.work-content h3 {
  margin-top: 16px;
}

.work-before {
  padding-top: 120px;
}
/* work終わり */

/* florist始まり */
.florist {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(#ededed 50%, #fff 50%);
}

.florist-content {
  max-width: 300px;
  margin-bottom: 40px;
  text-align: left;
}

.florist-content-wrapper {
  display: flex;
  align-content: space-between;
  justify-content: space-around;
}
/* florist終わり */

/* shop-information始まり */
.shop-information {
  width: 100%;
  padding: 80px 0;
}

.info-table {
  display: flex;
  justify-content: space-around;
}

table {
  letter-spacing: 1.5;
  line-height: 2;
  border-spacing: 16px;
}

table th {
  vertical-align: top;
  text-align: left;
  font-weight: normal;
  border-right: 3px solid #ededed;
  padding: 0 16px 0 0;
}

table td {
  text-align: left;
}
/* shop-information終わり */
